header {
  background-color: deepskyblue;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}
p{
  background-color: deepskyblue;
  font-size: 30px;
  margin: 0;
}