<header>
  
  <div class="top-row">
    <h1>Angular Shop</h1>
   

    

    <div class="top-nav">
      <a routerLink="/account" class="top-nav-button">
        <fa-icon [icon]="faUser"></fa-icon>

      </a>
      <a routerLink="/cart" class="top-nav-button">
        {{cartTotalItems}}
        <fa-icon [icon]="faCartShopping"></fa-icon>
      </a>
    </div>

  </div>
  





  <div class="bottom-row">
    <div class="bottom-nav">
      <div *ngFor="let string of dataArray" >{{string}}</div>
    </div>
    


<div class="search-container">
    <div class="search-label">Search</div>
    <app-search-input text="Search"></app-search-input>
  </div>
  </div>

  
</header>
