<header>
  
  <div class="top-row">
    <h1>Angular Shop</h1>
    <h3>Here there will be a search bar, personal links such as a cart link</h3>

    <div class="search-container">
      <h4>Search</h4>
      <app-search-input text="Search"></app-search-input>
    </div>

    <div class="top-nav">
      <button>Account</button>
      <button>{{cartTotalItems}}Cart</button>
    </div>

  </div>
  

  <div class="bottom-row">
    {{headerTitle}}
    <div *ngFor="let string of dataArray" >{{string}}</div>

  </div>
</header>
